@charset "UTF-8";
/* Обнуление стилей (Reset CSS) */
/* Убираем отступы, поля и рамки для всех элементов */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  /* Для корректного расчета размеров с padding и border */
}

/* Сбрасываем стили шрифтов и наследование */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  vertical-align: baseline;
}

/* Убираем подчеркивание у ссылок */
a {
  text-decoration: none;
  color: inherit;
  /* Наследуем цвет текста от родителя */
}

/* Сбрасываем стили списков */
ol:has(class),
ul:has(class) {
  list-style: none;
}

/* Убираем кавычки у blockquote и q */
blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Сбрасываем стили таблиц */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Убираем стандартные рамки у кнопок и элементов форм */
button,
input,
select,
textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: inherit;
  /* Наследуем шрифт */
  font-size: inherit;
  /* Наследуем размер шрифта */
  color: inherit;
  /* Наследуем цвет текста */
}

/* Убираем стрелочки у input type="number" */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Убираем стандартный стиль placeholder */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: inherit;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: inherit;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: inherit;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: inherit;
}

/* Сбрасываем курсор для отключенных элементов */
button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
  cursor: default;
}

/* Убираем выделение при клике (для некоторых браузеров) */
*:focus {
  outline: none;
}

/* Дополнительные сбросы для HTML5 семантических элементов */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Сбрасываем встроенные аудио и видео элементы */
audio,
video {
  display: inline-block;
}

/* Предотвращаем выделение текста при двойном клике */
::before,
::after {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  /* IE/Edge */
  user-select: none;
  /* Standard */
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  color: #112d45;
  flex-direction: column;
  max-width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.container {
  max-width: 112.5rem;
  padding: 0rem 0.9375rem;
  width: 100%;
  margin: 0 auto;
}

.main-screen {
  position: relative;
}

.main-screen__image,
.main-screen__image-mob {
  width: 100%;
  position: relative;
}
.main-screen__image img,
.main-screen__image svg,
.main-screen__image-mob img,
.main-screen__image-mob svg {
  width: 100%;
  height: auto;
}
.main-screen__image svg,
.main-screen__image-mob svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
.main-screen__image svg rect,
.main-screen__image-mob svg rect {
  opacity: 0;
  cursor: pointer;
}

.main-screen__image-mob {
  display: none;
}

.header {
  background: rgba(246, 237, 232, 0.75);
  backdrop-filter: blur(1rem);
  padding: 0.9375rem 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo,
.footer__logo {
  display: block;
  width: 8.75rem;
  height: 2.125rem;
}
.header__logo img,
.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.text-section {
  padding-top: 6rem;
  padding-bottom: 8.5rem;
}

.main-screen__content {
  pointer-events: none;
  padding-top: 8.9375rem;
  padding-left: 30px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.main-screen__content h1 {
  color: #112d45;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
}

.text-section__wrapper {
  display: flex;
  gap: 40px;
}

.text-section__image {
  max-width: 40%;
}
.text-section__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.text-section__content {
  max-width: 53.75rem;
  width: 100%;
  margin: 0 auto;
}
.text-section__content h2 {
  color: #112d45;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 3rem;
}
.text-section__content p {
  color: #000;
  text-align: justify;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin: 1.25rem 0;
}
.text-section__content img {
  display: block;
  margin: 2rem auto;
}

.cards-section__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}

.card {
  max-width: 32.5rem;
  width: 100%;
}
.card.in-dev {
  filter: grayscale(1);
  pointer-events: none;
}
.card:nth-child(1) .card__image::before {
  border-color: #ed6506;
}
.card:nth-child(2) .card__image::before {
  border-color: #7396cd;
}
.card:nth-child(3) .card__image::before {
  border-color: #0875b8;
}
.card:hover .card__image::before {
  transform: translate(0rem, 0rem);
}

.cards-section {
  padding-bottom: 6rem;
}

.card__image {
  width: 100%;
  height: 0;
  margin-bottom: 2rem;
  padding-top: 52.45%;
  position: relative;
}
.card__image::before {
  content: "";
  position: absolute;
  left: 0rem;
  top: 0rem;
  width: 100%;
  height: 100%;
  border: 0.1875rem solid;
  z-index: 2;
  box-sizing: border-box;
  transform: translate(0.625rem, 0.625rem);
  transition: transform 0.3s ease-in-out;
}

.card__image-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.card__image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card__body {
  display: flex;
  gap: 0.625rem;
  justify-content: space-between;
  align-items: flex-start;
}

.card__name {
  color: #112d45;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 0.25rem;
}

.card__descr {
  color: #112d45;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
}

.card__btn {
  color: #fff !important;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.9375rem;
  width: 11.25rem;
  display: flex;
  line-height: 100%;
  align-items: center;
  justify-content: center;
  background: #ed6506;
  flex-shrink: 0;
}

.footer__logo {
  margin-bottom: 40px;
  display: block;
  width: 240px;
  height: auto;
}
.footer__content {
  max-width: 900px;
  width: calc(100% - 610px);
}
.footer__content h4 {
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 0;
  font-weight: 600;
  color: #0f2b46;
}
.footer__content p {
  color: #000;
  text-align: justify;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0;
  width: 100%;
}
.footer__content p:not(:last-child) {
  margin-bottom: 24px;
}

footer {
  min-height: 17.5rem;
  padding-top: 2.5rem;
  padding-bottom: 4rem;
  background-image: url(../img/footer_bg.svg);
  background-color: #f6ede8;
  background-repeat: no-repeat;
  background-size: 610px;
  background-position: bottom -14px right -16px;
}

@media screen and (max-width: 1200px) {
  footer {
    background-size: 400px;
  }
  .footer__content {
    width: calc(100% - 400px);
  }
}
.header__menu {
  cursor: pointer;
}
.header__menu svg {
  width: 100%;
  height: 100%;
}

.sidebar-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 45, 69, 0.5);
  backdrop-filter: blur(0.75rem);
  z-index: 10;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.sidebar-menu.show {
  opacity: 1;
  visibility: visible;
}

.sidebar-menu__content {
  width: 20rem;
  height: 100%;
  background-color: #f6ede8;
  margin-left: auto;
  padding: 1.5rem;
  background-image: url(../img/sidebar-bg.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.close-btn {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: auto;
  margin-bottom: 2.5rem;
}
.close-btn svg {
  width: 100%;
  height: 100%;
}

.sidebar-menu__list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.sidebar-menu__link {
  color: #112d45;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  transition: color 0.2s ease-in-out;
}
.sidebar-menu__link:hover {
  color: #ed6506;
  text-decoration: underline;
}

.card-modal {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 45, 69, 0.5);
  backdrop-filter: blur(0.75rem);
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-top: 6.25rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
.card-modal.show {
  opacity: 1;
  visibility: visible;
}
.card-modal[data-modal="2"] .card-modal__inner::before {
  border-color: #7396cd;
}
.card-modal[data-modal="3"] .card-modal__inner::before {
  border-color: #0875b8;
}

.card-modal__inner {
  position: relative;
  max-width: 27.5rem;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  position: relative;
}
.card-modal__inner::before {
  content: "";
  position: absolute;
  left: 0rem;
  top: 0rem;
  width: 100%;
  height: 100%;
  border: 0.1875rem solid #ed6506;
  z-index: -1;
  box-sizing: border-box;
  transform: translate(0.625rem, -0.625rem);
  transition: transform 0.3s ease-in-out;
}
.card-modal__inner .card__image:before {
  display: none;
}
.card-modal__inner .card__body {
  padding: 1.5rem;
  flex-direction: column;
  gap: 2rem;
}
.card-modal__inner .card__image {
  margin-bottom: 0;
}
.card-modal__inner .card__btn {
  width: 100%;
  padding: 1.125rem;
}
.card-modal__inner .card__name {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.card-modal__close {
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 2;
  cursor: pointer;
}

@media (max-width: 1680px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 1360px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 1240px) {
  .card__body {
    flex-direction: column;
  }
  .card__btn {
    width: 100%;
  }
  .main-screen__content h1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
  .main-screen__content {
    padding-left: 0;
  }
  .text-section__wrapper {
    flex-direction: column;
  }
  .text-section__image {
    max-width: initial;
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
  }
  .main-screen__content h1 {
    font-size: 40px;
  }
  .main-screen__content {
    padding-top: 80px;
  }
  .text-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .text-section__content h2 {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .cards-section__wrapper {
    flex-direction: column;
  }
  .card {
    max-width: initial;
  }
  .footer__content {
    flex-direction: column;
    display: flex;
    max-width: 100%;
    width: 100%;
  }
  .footer__content * {
    text-align: center !important;
  }
  .footer__content {
    align-items: center;
  }
  footer {
    padding-bottom: 100vw;
    background-image: url(../img/footer-bg-mob.svg);
    background-position: bottom;
    background-size: 100%;
  }
  .main-screen__image {
    display: none;
  }
  .main-screen__image-mob {
    display: block;
  }
}
@media (max-width: 576px) {
  .main-screen__content h1 {
    font-size: 32px;
  }
  .header__logo {
    width: 80px;
    height: 20px;
  }
  .header__menu {
    width: 24px;
    height: 24px;
  }
  .header {
    padding: 12px 0;
  }
  .text-section__content h2 {
    font-size: 24px;
  }
  .card__image::before {
    transform: translate(5px, 5px);
  }
  .card__image {
    margin-bottom: 20px;
  }
  .footer__logo {
    margin-bottom: 24px;
  }
  .cards-section {
    padding-bottom: 72px;
  }
  .card-modal__inner .card__body {
    padding: 16px;
  }
  .sidebar-menu__list {
    text-align: right;
  }
  .sidebar-menu__content {
    padding: 12px;
  }
}
@media (max-height: 830px) {
  .sidebar-menu__content {
    background-position: bottom -100px center;
  }
}
@media (max-height: 680px) {
  .sidebar-menu__content {
    background-position: bottom -180px center;
  }
}